@import url('https://fonts.googleapis.com/css2?family=B612:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url(resetCss.css);

:root {
    --brand-color-yellow: #FFA800;;
    --brand-color-blue: #0072D2;
    
    --dark-10: #131318;
    --white-20: #FFFFFF;

    --support-05: #E0E0E0;
    --support-04:#F03D3D;
    --support-03:#FFCE52;
    --support-02:#0BB07B;
    --support-01:#2962FF;
}

body {
    font-family: 'B612', sans-serif;
}

section {
    background-image: url(../image/fundo.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% 100%; /* Ajusta a imagem para preencher toda a seção */
    min-height: 100vh;
    display: flex; /* Adiciona flexbox para tornar a imagem flexível */
    flex-direction: column; /* Defina a direção dos elementos filhos para coluna */
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
}


section .container-fluid {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    min-height: 100vh;
}

section .container-fluid header {
    text-align: center;
    padding-top: 45px;
    margin: 0 auto;
    width: 80%;
}

section .container-fluid header h1 {
    text-align: center;
    color: var(--white-20);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

section .container-fluid header h2 {
    text-align: center;
    color: var(--white-20);
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

section .container-fluid .container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
    padding-top: 5%;
}

section .container-fluid .container img {
    display: block;
    width: 184px;
    height: 267px;
    border-radius: 20px;
}
section .container-fluid .container .block-right {
    width: 722px;
    margin-left: 73px;
}

section .container-fluid .container .block-right h3 {
    color: var(--white-20);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

section .container-fluid .container .block-right .horizontal-icons {
    display: flex; /* Torna os elementos filhos em uma linha (horizontal) */
    justify-content:space-between; /* Centraliza os elementos horizontalmente */
    align-items: center; /* Centraliza os elementos verticalmente */
    margin-top: 45px;
    width: 80%;
}

section .container-fluid .container .block-right .icon-clock {
    display: flex; 
    align-items: center;
}

section .container-fluid .container .block-right .horizontal-icons .icon-clock img {
    width: 30px;
    height: 30px;
}

section .container-fluid .container .block-right .horizontal-icons .icon-clock h4 {
    color: var(--support-05);
    margin-left: 5px;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

section .container-fluid .container .block-right .icon-stars {
    display: flex; 
    align-items: center;
}

section .container-fluid .container .block-right .icon-stars img{
    width: 40px;
    height: 40px;
}

section .container-fluid .container .block-right h5{
    color: var(--white-20);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

section .container-fluid .container .horizontal-btns {
    font-family: 'Open Sans', sans-serif;
    margin-top: 34px;
}

section .container-fluid .container .horizontal-btns .btn-now{
    background-color: var(--brand-color-blue);
    border-radius: 3px;
    border: none;
    
    display: inline-flex;

    padding: 15px 27px;
    align-items: flex-start;
    gap: 10px;

    font-family: Open Sans;
    color: var(--white-20);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

section .container-fluid .container .horizontal-btns .btn-trailer{
    background-color: var(--dark-10);
    color: var(--white-20);
    border-radius: 3px;
    border: none;


    display: inline-flex;
    padding: 15px 25px;
    align-items: flex-start;
    gap: 10px;

    border-radius: 3px;
    border: 1px solid #FFF;

    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 21px;
}

@media (max-width: 800px) {
    section .container-fluid .container {
      display: flex;
      flex-direction: column; /* Change to vertical layout */
      justify-content: center;
      margin: 0 auto;
      width: 95%;
      padding-top: 5%;
    }
  
    /* Additional styling to adjust the layout */
    section .container-fluid .container .block-right {
      margin-left: 0; /* Remove the margin to stack the block below the image */
      margin-top: 20px; /* Adjust the top margin for spacing */
      width: 100%;
    }
  
    section .container-fluid .container img {
        margin: 0 auto;
    }

    section .container-fluid .container .horizontal-btns {
        text-align: center;
        margin-bottom: 20px;
    }
  }
  