@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


body {
	font-family: 'Merriweather', serif;
}

header {
	background-color: var(--bgSite);
	min-height: 80vh;
}

.container-main {
	width: 70%;
	display: flex;
	justify-content: center;
	margin: 0 auto;
	padding-bottom: 50px;
}

article {
	margin-top: 138px;
	width: 389px;
}
h1 {
	color: var(--title);
	font-size: 36px;
	font-style: normal;
	font-weight: 400;
	line-height: 47px;
}

p {
	color: var(--text);
	font-family: Lato;
	font-size: 19px;
	font-style: normal;
	font-weight: 400;
	line-height: 32px; /* 168.421% */
}

button {
	margin-top: 45px;
	border-radius: 5px;
	background: var(--buttonColor);
	box-shadow: 0px 5px 5px 0px rgba(23, 23, 23, 0.10);
	color: var(--white);
	font-size: 20px;
	font-weight: 700;
	width: 100px;
	height: 40px;
}

button:hover {
	margin-top: 45px;
	border-radius: 5px;
	background: var(--buttonDarkColor);
	box-shadow: 0px 5px 5px 0px rgba(23, 23, 23, 0.10);
	color: var(--white);
	font-size: 20px;
	font-weight: 700;
	width: 100px;
	height: 40px;
	cursor: pointer;
}

.image {
	margin-top: 80px;
	width: 500px;
	height: 350px;
}

section {
	background-color: var(--white);
	min-height: 80vh;
}

.container-content {
	width: 80%;
	margin: 0 auto;
	padding: 100px 0px;
}

.cards {
	background-color: var(--white);
	display: flex;
	justify-content: center;
	margin-top: 10px;
	gap: 32px;
	margin-bottom: 20px;
}
.card {
	width: 275px;
	min-height: 400px;
	border: 1px solid var(--text);
	margin-bottom: 10px;
}
.card img {
	width: 100%;
}

.card .body-card {
	background-color: var(--white);
	padding: 30px 30px 15px 30px;
}

.card p {
	color: var(--text);
	font-size: 18px;
	font-weight: 400;
	line-height: 30px; 
}

.card h2{
	color: var(--text);
	font-size: 24px;
	font-weight: 700;
}

.container-forms {
	background-color: var(--bgSite);
	min-height: 70vh;
	padding: 80px 0px;
}


.container-forms h3 {
	text-align: center;
	color: var(--text);
	font-size: 32px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.formulario {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	width: 250px;
}

input {
	width: 470px;
	padding: 15px;
	border-radius: 4px;
	margin: 5px;
}

textarea {
	border: none;
	width: 470px;
	padding: 15px;
	border-radius: 4px;
	margin: 5px;
}

.btn2 {
	background-color: #6C63FF;
	color: white;
}

.btn2:hover {
	background: var(--buttonDarkColor);
	cursor: pointer;
}

@media (max-width: 900px)  {
	.image {
		display: none;
	}

	.cards {
		flex-direction: column;
		align-items: center;
	}
}