@import url(resetCss.css);

:root {
    --bgSite: #00AEFF;
    --bgSite2: #181818;
    --bgCard: #ebe9ea;
    
    --white: #fff;
  
    --title: #181818;
    --text: #474747;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    align-items: center;
    text-align: center ;
}

.cupom-page {
    padding: 12px 0px;
    text-align: center;
    font-size: 16px;
    background-color: var(--bgSite2);
    color: vaR(--white);
}

.title-page {
    font-size: 24px;
    padding: 12px 0px;
}

section {
    width: 100%;
    min-height: 100vh;
}

.container-banner {
    position: relative;
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 370px;
}

.header-banner {
    margin: 100px auto;
    width: 70%;
    color: var(--white);
    z-index: 1;
}

.header-banner h2 {
    color: var(--white);
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 20px;
}

.header-banner p {
    color: var(--white);
    font-size: 19px;
    font-weight: 500;
    line-height: 30px; 
}

.banner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(../image/wallpaper.jpeg);
    filter: brightness(50%);
    background-size: cover;
    background-position: center;
}

.header-content {
    width: 70%;
    text-align: center;
    margin: 30px auto;
}

.header-content h3{
    color: var(--bgSite2);
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 5px;
}

.products-cards {
    width: 70%;
    display: flex;
    margin: 20px auto;
    flex-wrap: wrap;
    gap: 15px;
}

.card {
    background-color: var(--bgCard);
    width: 24%;
    margin: auto;
}

.card img {
    max-width: 100%;
    object-fit: cover;
}

footer {
    background-color: var(--bgSite);
    padding: 20px 0;
    text-align: center;
}

@media screen and (max-width: 800px) {
    .products-cards {
        width: 95%;
        margin: 20px auto;
        gap: 10px;
    }
    .card {
        background-color: var(--bgCard);
        width: 95%;
        margin: auto;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1920px) {
    .card {
        background-color: var(--bgCard);
        width: 24%;
        margin: auto;
    }
}
