/* Estilos padrão */
@import url('resetCss.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --brand-color: #628E75;
  --gray: #F3F5F7;
  --white: #FFF;
  --title: #313131;
  --text: #B6B6B6;
  --linear: linear-gradient(#628E75, #1A4855);
}

header {
  padding-top: 30px;
  width: 75%;
  margin: 0 auto;
}

header img {
  display: inline-block;
  width: 100px;
}

header .socials {
  display: block;
  width: 150px;
  float: right;
  color: white;
  padding-top: 30px;
}

header .socials .fa-brands {
  color: var(--white);
  padding-right: 10px;
}

body {
  background: var(--linear);
  font-family: 'Poppins', sans-serif;
  color: var(--white);
  width: 100%;
  min-height: 100vh;
  font-size: 18px;
}

section .content-principal {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: 0 auto;
}

section .content-principal .content-left {
  margin-top: 10%;
  display: block;
  width: 50%;
}

section .content-principal .content-right {
    margin-top: 5%;
    display: block;
    width: 50%;
    right: 0;
}

section .content-principal .content-right img{
    display: block;
    width: 95%;
    right: 0;
  }

section .content-principal .content-right img{
  right: 0;
}


section .content-principal .content-left h1 {
  font-size: 20px;
  font-weight: bold;
}

section .content-principal .content-left h2 {
  font-size: 58px;
  font-weight: bold;
}

section .content-principal .content-left p {
  padding-top: 30px;
  line-height: 24px;
}

section .content-principal .content-left .button-design {
  margin-top: 30px;
  width: 225px;
  height: 45px;
  background: var(--brand-color);
  transform: skew(-20deg);
  border: none;
  font-size: 16px;
  color: var(--white);
  cursor: pointer;
}

section .content-principal .content-left .button-design .fa-solid {
  color: var(--white);
  padding-right: 5px;
}

section .content-principal .content-left .button-design2 {
  width: 225px;
  height: 45px;
  background: transparent;
  border: 2px solid var(--brand-color);
  transform: skew(-20deg);
  font-size: 16px;
  color: var(--white);
  cursor: pointer;
}

/* Media query for screens with a maximum width of 768px */
@media screen and (max-width: 768px) {
  header {
    width: 100%;
  }

  section .content-principal {
    flex-direction: column;
    width: 100%;
  }

  section .content-principal .content-left {
    width: 100%;
  }

  section .content-principal .content-right img {
    width: 100%;
  }
}
