@import url(resetCss.css);

:root {
    --brownColor: #A56644;
    --brownDarkColor: #80411F;
    --blackColor: #363636;
    --whiteColor: #FFFFFF !important;
    --purpleColor: #867E9C;
}

.container {
    background-color: #a073b0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.head {
    display: flex;
    margin: 20px auto;
    justify-content: center;
    background-color: var(--brownColor);
    width: 75px;
    height: 75px;
    border-radius: 20px;
    position: relative;
    z-index: 2;
}

.eye {
    margin: 10px auto;
    position: relative;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #FFFFFF;
}

.eye .iris {
    position: absolute;
    bottom: 0;
    border-radius: 9px;
    width: 15px;
    height: 20px;
    background-color: var(--blackColor);
}

.eye .iris .light {
    border-radius: 10px;
    width: 7px;
    height: 7px;
    background-color: var(--whiteColor);
}

.eye .iris {
    left: 7px; 
}

.nose {
    position: absolute;
    left: 45%;
    bottom: 30px;
    width: 8px;
    height: 11px;
    background-color: var(--brownDarkColor);
    border-radius: 50% 50% 50% 50% / 80% 80% 20% 20%;
    /* border-radius: 0 0 20px 20px; */
    z-index: 3;
}

.mouth {
    position: absolute;
    left: 40%;
    bottom: 20px;
    width: 15px;
    height: 2px;
    border-radius: 50%;
    background-color: var(--brownDarkColor);
    z-index: 3;
}

.cheeks-left,
.cheeks-right {
    margin: 32px auto;
    position: absolute;
    width: 38px;
    height: 38px;
    background-color: var(--brownColor);
    z-index: 2;
    border-radius: 100%;
}

.cheeks-left {
    left: 2px;
}

.cheeks-right {
    right: 2px;
}

.ear {
    position: absolute;
    background-color: var(--brownColor);
    width: 12px;
    height: 17px;
    border-radius: 40%;
}

.ear-left {
    margin-top: 50px;
    margin-right: 80px; 
}

.ear-right {
    margin-top: 50px;
    margin-left: 80px;
}

.hair-front {
    position: absolute;
    top: -17px;
    left: -10px;
    width: 35px;
    height: 36px;
    background-color: var(--blackColor);
    z-index: 4;
    border-radius: 50%;
}

.hairBack_1 {
    display: flex; 
    justify-content: center; 
    width: 125px;
    height: 125px;
    background-color: var(--blackColor);
    border-radius: 20px;
}

.hairBack_0 {
    width: 125px;
    height: 125px;
    position: absolute;
    background-color: var(--blackColor);
    transform: rotate(-45deg);
    border-radius: 20px;
}

.neck {
    margin-top: 70px;
    position: absolute;
    width: 35px;
    height: 40px;
    border-radius: 10px;
    background-color: var(--brownColor);
}

.neckShadow {
    margin-top: 15px;
    width: 36px;
    height: 10px;
    background-color: var(--brownDarkColor);
    border-radius: 0 0 20px 0;

}