@import url('resetCss.css');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
	--blue: #3EA1DB;
	--blue-dark: #574AE8;
	--gray: #F3F5F7;
	--white: #FFF;

	--title: #313131;
	--text: #B6B6B6;
	
	--linear: linear-gradient(90deg, #574AE8 0%, #3EA1DB 100%);
}
body {
	font-family: 'Lexend Deca', sans-serif;
	background-color: var(--gray);
	font-size: 18px;
}

section {
	width: 100%;
	min-height: 60vh;
}

header {
	display: flex;
	height: 220px;
	background: var(--linear);
}

nav {
	width: 60%;
	color: white;
	font-size: 24px;
	margin: 0 auto;
	padding-top: 3%;
}

.options-nav {
	display: flex;
	justify-content: space-between;

	color: var(--white);
}

.options-nav h1, .options-nav p{
	color: var(--white);
	font-size: 24px;
}

.bar-search {
	position: relative;
	gap: 10px;
	display: flex;
	width: 100%;
	top: 24px;
	padding: 20px 0;
	color: var(--white);
	background-color: rgba(253, 253, 253, 0.2);
	border-radius: 5px;
	margin: 0 auto;
}

input[type="search"] {
	font-size: 16px;
	background-color: transparent;
	color: var(--white);
	border: none;
	outline: none;
	width: 100%;
}

input[type="search"]:not(:hover) {
	color: var(--white);
	border: none;
	outline: none;
}

input[type="search"]::placeholder {
	color: var(--white);
	font-style: italic;
}

.fa-magnifying-glass {
	cursor: pointer;
	margin-left: 10px;
	color: var(--white);
	position: relative;
	z-index: 1;
}

.container-fluid {
	display: flex;
	margin: 0 auto;
	flex-direction: column;
  align-items: center;
	width: 60%;
	padding-bottom: 20px;
}

.container {
	display: block;
	margin-top: 20px;
	width: 100%;
	min-height: 165px;

	border-radius: 5px;
	background: var(--white);
	box-shadow: 0px 0px 10px 0px rgba(19, 19, 31, 0.05);
	padding-bottom: 15px;
}

.header-content {
	display: flex;
	padding: 25px 15px 0 15px;
	justify-content: space-between;
}

h3 {
	color: #909090;
	text-align: right;
	font-size: 14px;
	font-weight: 400;
}

.content {
	padding: 10px 15px 0 15px;
}

h2 {
	color: #1A202C;
	font-size: 26px;
	font-weight: 400;
}

p {
	color: #909090;
	font-family: Lexend Deca;
	font-size: 14px;
	font-weight: 400; 
	line-height: 23px; 
}

.fas {
	color:var(--blue);
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@media only screen and (max-width: 600px) {
	.container-fluid {
		width: 90%;
	}
	header {
		height: 175px;
	}
}

@media only screen and (max-width: 900px) {

}